body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;

}

ul {
    list-style: none;
    margin: 0px;
    display: flex;
    gap: 32px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}


.header,
.hero,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 16px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.container.one {

}

.container.two {
    background-color: #e5e7eb;
}

.footer {

}